@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;700;800&display=swap');


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    background-color: #171619;
    color: #FFFFFF;
    overflow-x: hidden;
    font-family: 'Mukta', sans-serif;
}



.navbar{
    background-color: #171619 !important;
    padding: 10px 120px;
    box-shadow: 0px 3px 26px #000000D0;
}

.navbar-brand{
    display: flex;
    align-items: center;
    justify-content:center;
}



.navbar-brand span{
    font-weight: bold;
    font-size: 1.3rem !important;
    margin-top: -10px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#60FBFF, #64F9A0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.nav-link{
    font-weight: 400;
    font-size: 1rem;
    color: #707070;
}

.nav-item{
    margin-right: 1rem;
}


.active{
    background: -webkit-linear-gradient(#60FBFF, #64F9A0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}



.header{
    position: relative;
    height: 500px;
    
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('./img/header.jpg');
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;

    opacity: 0.72;
}


.header-box{
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.header-box-img{
    position: absolute;
    top: 55%;
    right: -12%;
    transform: translate(-50%, -50%);
}

.header-box-content{
    width: 700px;
    letter-spacing: 2px;
    line-height: 1.8;
}

.header-box-content h3{
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 700;
}

.text-span-1{
    background: -webkit-linear-gradient(#60FBFF, #64F9A0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-span-2{
    color: #6748DB;
}

.text-span-3{
    color: red;
}

.risk-text{
    width: 250px;
    font-size: 12px;
    margin-top: 1.5rem;
    letter-spacing: 0;
}



.header-box-content-buttons{
    margin-top: 30px;
    display: flex-start;
    align-items: center;
    justify-content: space-between;
}


.header-box-content-buttons a{
    border: 2px solid #222;
    border-radius: 50px;
    color: #fff;
    padding: 5px 15px;

    font-size: 1rem;

}

.btn-1{
    border: 2px solid #222;
    border-radius: 15px;
    color: #fff;
    padding: 5px 15px;
    border: 3px solid #60F5F9 !important;
    margin-top: 20px !important;
    display: inline-block !important;
    margin-right: 40px;
}


.btn-2{
    border: 2px solid #222;
    border-radius: 15px;
    color: #fff;
    padding: 5px 15px;
    border: 3px solid #6748DB !important;
    margin-top: 20px !important;
    display: inline-block !important;
}

.btn-1:hover,
.btn-2:hover{
    text-decoration:none;
    color: #fff;
}


.about{
    padding-top: 80px;
    padding-bottom: 0;

    padding: 120px 0;
    position: relative;

    position: relative;
    height: 500px;
    
    background-image: linear-gradient(rgba(23, 22, 25, .5), rgba(23, 22, 25, .5)), url('./img/about.PNG');
    background-position: right;
    background-repeat:no-repeat;

    opacity: 0.72;
}




.about-icon-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.about-icon-box p{
    width: 80%;
    font-size: .8rem;
    margin-top: 1rem;
}

.title{
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

}

.title span{
    background: -webkit-linear-gradient(#60FBFF, #64F9A0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.platform-img-1{
    height: 300px;

    margin-top: -150px;
}


.platform{
    
    width: 80vw;
    height: 650px;
    padding: 0px 30px;
    margin: 0 auto;
    margin-top: -130px;
    margin-bottom: 130px;
    border-radius:20px;
    box-shadow: 0px 6px 19px #00000084;
    opacity: 1;
    z-index: 1;
}



/* .platform:before {
    content: "";
    width: 100%;
    height: 100%;
    background:url("./img/platform-2.png") no-repeat;
    top: -160px;
    left: -120px;
    position: absolute;
    z-index: 0;
    
} */

.platform-title{
    margin-bottom: 50px;
}

.platform-content{
    padding: 60px 30px;
}

.platform img{
    height: 650px;
}

.platform-title-2{
    font-size: 1.6rem;
    color: #6748DB;
    margin-bottom: .5rem;
}

.platform-content p{
    margin-top: .3rem;
}

.account{
    text-align: center;
    margin-top: 2rem;
    padding: 0 2rem;
}

.account h3{
    font-size: 2.2rem;
}

.account .line{
    width: 100%;
    height: 1px;
    background-color:#60F5F9;
    margin: 3rem 0;
}

.account > div > p{
    color: #fff;
    font-size:1.2rem;
    margin-bottom: 1.2rem;
}


.account > div > h4{
    color: #6748DB;
    font-size: 2rem;
    font-weight: bold;
}


.educate{
    margin-top: 4rem;
    position: relative;
    height: 500px;
    
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('./img/educate.jpg');
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
}

.trade{
    margin-top: 0;
    position: relative;
    height: 400px;
    
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('./img/trade.jpg');
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
}


.educate-content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


footer{
    padding: 4rem 3rem;
}

.logo-content{
    color: #60F5F9;
    font-size: 1.8rem;
    font-style: italic;
}




.logo-box{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/* .logo-box span{
    margin-top: -10px
} */



@media only screen and (max-width: 768px){
    .header-box-img{
        display:none;
    }

    html{
        font-size:10px;
    }

    .header-box{
        width: 300px;
        letter-spacing:1px;
        margin: 0 auto;
        left: 40%;
        
    }

    .header-box-content{
        width: 320px
    }

    .header-box-content h3{
        font-size:1.5rem !important;
        width: 320px;
    }

    .platform-img{
        display:none;
    }

    .platform-img-1{
        display: none;
    }


    .platform{
        margin-top: 600px;
    }

    .account{
        margin-top: 100px
    }
}